Body{
  background-color: #21241e !important;
}

.App {
}
.jumbotron{
  background-color: #21241e !important;
}

.container{
  background-color: red;
}

#ppic{
  max-width: 6em;
  border-radius: 10%;
}
#nameText{
  font-weight: bold;
}
