Body{
  background-color: #21241e !important;

}

.App {
  background-color: #21241e !important;
}
.jumbotron{
  background-color: #21241e !important;
}

#ppic{
  max-width: 6em;
  border-radius: 10%;
}
#nameText{
  font-weight: bold;
  font-size: 1.3em;
}
#bioText{
  font-size: 1em;
}
.userLink{
  text-align:center;
  color: white;
}
.userIcon{
  max-width: 2em;
}
#ghub{
  filter: invert(1);
}
#GHLink{
  font-family: 'Roboto Mono', monospace;
}

.ItemText{
  font-family: 'Roboto Mono', monospace;
}

.ItemText h1{
  font-size: 1.75em;
}
.ItemText h2{
  font-size: 1.5em;
}
.ItemText h3{
  font-size: 1.25em;
}
.ItemText em{
  font-size: 1em;
}
.ItemText strong{
  font-size: 1em;
}

.tag{
  font-family: 'Roboto Mono', monospace;
  font-weight: lighter;
  font-size: 0.9em;
  font-style: italic;
  color: #acacac;
}

.GalleryImage {
  max-width: 240px !important;
}

.GalleryImage img{
  max-width: 240px !important;
}

.FullScreenImage{
  position: fixed;
  top: 5%;
  left: 5%;
  width: 90vw;
  height: 90vh;
  z-index: 1000;
  background-color: #21241e !important;
}
.FullScreenImage img{
  margin-top: auto;
  max-width: 80vw !important;
}
.svgContainer{
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-4em, -3em);
}

.close{
  color: white !important;
  font-size: 3em !important;
}


.UserInfo{
  background-color: #252922;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}

.ItemContainer{
  background-color: #252922;
  color: white;
  text-align: center;
  font-family: 'Major Mono Display', monospace;
}

.ItemBox{
  background-color: rgba(0,0,0,0.02);
}

.borderBottom{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: -webkit-linear-gradient(to left,#000, transparent);
  background-image: -moz-linear-gradient(to left,#000, transparent);
  background-image: -o-linear-gradient(to left,#000, transparent);
  background-image: linear-gradient(to left, #000, transparent);
}
.borderTop{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-image: -webkit-linear-gradient(to right,#000, transparent);
  background-image: -moz-linear-gradient(to right,#000, transparent);
  background-image: -o-linear-gradient(to right,#000, transparent);
  background-image: linear-gradient(to right, #000, transparent);
}
.borderLeft{
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100% !important;
  background-image: -webkit-linear-gradient(to bottom,#000, transparent);
  background-image: -moz-linear-gradient(to bottom,#000, transparent);
  background-image: -o-linear-gradient(to bottom,#000, transparent);
  background-image: linear-gradient(to bottom, #000, transparent);
}

.borderRight{
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100% !important;
  background-image: -webkit-linear-gradient(to top,#000, transparent);
  background-image: -moz-linear-gradient(to top,#000, transparent);
  background-image: -o-linear-gradient(to top,#000, transparent);
  background-image: linear-gradient(to top, #000, transparent);
}

.striped{
  background: repeating-linear-gradient(
  -45deg,
  rgba(0,0,0,0.02),
  rgba(0,0,0,0.12) 10px
);
}
